*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li img{
    width: 165px;
    height: 200px;
    margin: auto;
}
li{
    background-color: beige;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
#btn1{
   margin: 10px auto;
   display: block;
}
.a1{
    text-decoration: none;
    color: black;
}
#total{
    width: 150px;
    height: 50px;
    background-color: pink;
    color: black;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 17px;
}